
### Gradle ###
HELP.md
.gradle
.settings
!gradle/wrapper/gradle-wrapper.jar

### SpringBoot ###
build/
bin/**
src/main/resources/static/
##!**/src/main/**
!**/src/test/**

### Vue ###
seoulit/node_modules/

### log ###
logs/

### VS Code ###
.vscode/
