@font-face {
	font-family: "icon-font-dest";
	src: url("icon-font-dest.eot?f83433cef8a97662112474453bbfe1b8?#iefix") format("embedded-opentype"),
url("icon-font-dest.woff2?f83433cef8a97662112474453bbfe1b8") format("woff2"),
url("icon-font-dest.woff?f83433cef8a97662112474453bbfe1b8") format("woff");
}

.icon-font {
	line-height: 1;
}

.icon-font:before {
	font-family: icon-font-dest !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-font-account-c:before {
	content: "\f101";
}
.icon-font-account:before {
	content: "\f102";
}
.icon-font-at:before {
	content: "\f103";
}
.icon-font-lock-c:before {
	content: "\f104";
}
.icon-font-lock-q:before {
	content: "\f105";
}
.icon-font-map-marker:before {
	content: "\f106";
}
.icon-font-phone:before {
	content: "\f107";
}
